@import "tailwindcss";
@import "@shuriken-ui/nuxt";

@theme {
   --font-sans:
      "Work Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   --font-display:
      "Manrope", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

   --header-height: 64px;
   --footer-height: 312px;

   --color-primary-50: var(--color-indigo-50);
   --color-primary-100: var(--color-indigo-100);
   --color-primary-200: var(--color-indigo-200);
   --color-primary-300: var(--color-indigo-300);
   --color-primary-400: var(--color-indigo-400);
   --color-primary-500: var(--color-indigo-500);
   --color-primary-600: var(--color-indigo-600);
   --color-primary-700: var(--color-indigo-700);
   --color-primary-800: var(--color-indigo-800);
   --color-primary-900: var(--color-indigo-900);
   --color-primary-950: var(--color-indigo-950);

   --color-muted-50: var(--color-neutral-50);
   --color-muted-100: var(--color-neutral-100);
   --color-muted-200: var(--color-neutral-200);
   --color-muted-300: var(--color-neutral-300);
   --color-muted-400: var(--color-neutral-400);
   --color-muted-500: var(--color-neutral-500);
   --color-muted-600: var(--color-neutral-600);
   --color-muted-700: var(--color-neutral-700);
   --color-muted-800: var(--color-neutral-800);
   --color-muted-900: var(--color-neutral-900);
   --color-muted-950: var(--color-neutral-950);

   --color-paris-daisy-50: #fbfcea;
   --color-paris-daisy-100: #f8fac7;
   --color-paris-daisy-200: #f4f692;
   --color-paris-daisy-300: #f1ee63;
   --color-paris-daisy-400: #e9dd26;
   --color-paris-daisy-500: #d9c619;
   --color-paris-daisy-600: #bc9c12;
   --color-paris-daisy-700: #967212;
   --color-paris-daisy-800: #7c5a17;
   --color-paris-daisy-900: #6a4a19;
   --color-paris-daisy-950: #3e280a;
}

@utility bg-pattern-plus {
   background-color: transparent;
   background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23404040' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
